span((click)="toggle()")
  h2 {{ icon }} JSON
div(*ngIf="expanded")
  div.grd(*ngFor="let resource of resources")
    h3.grd-row.grd-row-col {{ resource[0] }}
    p(*ngFor="let property of resource[1]") {{ property.name }}{{ property.required ? '*' : '' }} : {{ property.type }}