span((click)="toggle()")
  h2 {{ icon }} Reflection
div(*ngIf="expanded")
  div.grd(*ngFor="let resource of resources")
    h3.grd-row.grd-row-col {{ resource[0] }}
    div(*ngFor="let property of resource[1]") {{ property[0] }} : {{ property[1] }}