span.h2((click)="toggle()")
  span {{ icon }} Kotlin
div(*ngIf="expanded")
  div.grd(*ngFor="let resource of resources")
    div.h4.grd-row.bg--light-gray.px1
      span.grd-row-col {{ getResourceTypeName(resource) }} {{ getInheritance(resource) }}
    div.grd-row
      div.grd-row-col(*ngFor="let property of getPropertiesForResourceType(resource)")
        span.px1 {{ property }}
  div.grd(*ngFor="let fn of functions")
    div.h4.grd-row.bg--light-gray.px1
      span.grd-row-col {{ getFunctionTypeName(fn) }}
    div.grd-row
      button.grd-row-col.btn--blue((click)="invokeFunctionType(fn)") Invoke
      pre.grd-row-col.code.px1 {{ functionResults[fn] }}